/** Header **/

.navbar-fixed-top {
    border: none;
}

.navbar-header {
    height: auto !important;
}

.navbar-brand {
    height: auto !important;
}

header {
    position: fixed;
    background: #ffffff;
    /* padding-bottom: 15px;*/
    box-shadow: 0px 2px 5px #ccc;
    width: 100%;
    background: #fff;
    z-index: 999;
}

.logo img {
    max-width: 100%;
}

.main_menu {
    padding: 20px 0px;
    float: right;
    margin-top: 30px;
}

.main_menu ul {
    margin: 0;
}

.main_menu ul li {
    display: inline-block;
}

.main_menu ul li a {
    color: #6c6c6c;
    padding: 19px 20px;
}

.main_menu .active,
.main_menu ul li a:hover {
    color: #09bcd4;
    text-decoration: none;
}

.nav_trigger {
    display: none;
    font-size: 23px;
    color: #09bcd4;
    border: 1px solid #09bcd4;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 28px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
    z-index: 5000;
    background: #fcfcfc;
    line-height: 37px;
}

.nav_trigger:hover {
    color: #fff;
    border: none;
    background: #09bcd4;
}

.active a {
    color: #09bcd4 !important;
}


/** End Header **/


/** Respondsive **/

@media only screen and (max-device-width:767px) {
    .nav_trigger {
        display: block;
    }
    .main_nav {}
    .main_menu {
        display: none;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        padding-top: 0px;
    }
    .main_menu ul {
        margin-top: 19px;
        padding-left: 0;
        float: none;
    }
    .main_menu ul li {
        display: list-item;
        list-style: none;
        text-align: center;
        padding: 0px 0px;
    }
    .main_menu ul li:hover {}
    .main_menu ul li a {
        padding: 8px 0px;
        display: block;
    }
    .main_menu ul li a:hover {
        text-decoration: none;
        color: #09bcd4;
    }
}

@media only screen and (max-device-width:400px) {
    header {
        height: 70px;
    }
    .logo {
        width: 80%;
    }
    .main_menu {
        background: #fff;
    }
}


/** End Respondsive **/


/** Services **/

.service_head {
    text-align: center;
}

.service_head h1 {
    font-size: 35px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.service_head span {
    color: #09bcd4;
}

.service_body {
    padding: 30px 0px;
}

.service_box {
    padding: 25px 0px;
    display: inline-block;
    border: 1px solid #999;
    border-right: 5px solid #999;
    cursor: pointer;
}
.service_box p{
    font-size: 12px;
    color: #999;
}
.service_box h4{
    font-size: 16px;
    font-weight: 600;
}
.servi_align {
    margin-top: 10px;
}

.Service_icon {
    border: 1px solid #999;
    width: 64px;
    border-right: 0;
    margin-left: -30px;
    background: #fff;
    padding: 20px 0px;
    text-align: center;
    font-size: 25px;
}

.Service_icon:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -8px;
    z-index: -1;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(20deg, 0deg);
}
.service_box:hover{
    border-right: 5px solid #09bcd4;
}
.service_box:hover .Service_icon {
    background: #09bcd4;
    color: #fff;
    border: none;
}
.service_box:hover .Service_icon:after {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    background: -webkit-gradient(left top, right top, color-stop(40%, rgba(255, 255, 255, 1)), color-stop(40%, rgba(9, 188, 212, 1)), color-stop(48%, rgba(9, 188, 212, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#09bcd4', GradientType=1);
    border: none;
}


/** End Services **/

/** Home automation Part **/

.home_automation_part{
    position: relative;
   background: url('../images/hom_bg.jpg') center no-repeat;
    padding-top: 50px;
}
.home_automation_part h1{
    color: #fff;
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
}
.home_automation_part h4{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.home_automation_part p{
    color: #6b6b6b;
}
.home_automation_part span{
    background: #09bcd4;
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
.right_align{
    text-align: right;
}
.left_align{
    text-align: left;
}
.automation_padd{
    padding: 20px 0px;
}

/** Home automation Part **/

@media screen and (min-width:768px) and (max-width:991px){
    .container{
       width: 95%;
    }
    .main_menu{
        margin-top: 0;
        width: 100%;
        text-align: center;
    }
    .navbar-brand{
        width: 100%;
        padding: 0;
    }
    .logo{
        width: 100%;
        display: inline-block;
    }
    .logo img{
        margin: 0 auto;
    }
    .position{
        padding-top: 115px;
    }
    .Service_icon:after{
        display: none;
    }
    .Service_icon{
        border-right: 1px solid #999;
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
    .Service_icon{
        width: 47px;
    }
}




.modal-body {
    position: relative;
    padding: 35px;
    line-height: 24px;
    text-align: justify;
    color: #898989;
}
.modal-body img{
    max-width: 100%;
    margin-bottom: 20px;
}
.modal-header{
    font-size: 24px;
    padding: 0px 35px;
}
.modal-title{
    font-size: 24px;
    color: #09bcd4;
    padding-top: 20px;
}
.modal-header .close{
    margin-top: 29px;
}

@media only screen and (max-device-width:767px){
    .Service_icon{
        margin: 0 auto;
        border-right: 1px solid #999;
    }
    .Service_icon:after{
        display: none;
    }
}



