@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body{ font-family:poppins}

a,a:hover,a:visited,a:active{outline:none !important; text-decoration:none !important}

/** Header **/
.navbar-fixed-top {
    border: none;
}
.navbar-header {
    height: auto !important;
}

.navbar-brand {
    height: auto !important;
}
header {
    position: fixed;
    background: #ffffff;
    /* padding-bottom: 15px;*/
    box-shadow: 0px 2px 5px #ccc;
    width: 100%;
    background: #fff;
    z-index: 999;
}
.logo img {
    max-width: 100%;
}
.position {
    padding-top: 95px;
}
.main_menu {
    padding: 20px 0px;
    float: right;
    margin-top: 30px;
}

.main_menu ul {
    margin: 0;
}
.main_menu ul li {
    display: inline-block;
}

.main_menu ul li a {
    color: #6c6c6c;
    padding: 19px 20px;
}
.main_menu .active,
.main_menu ul li a:hover {
    color: #09bcd4;
    text-decoration: none;
}
.nav_trigger {
    display: none;
    font-size: 23px;
    color: #09bcd4;
    border: 1px solid #09bcd4;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 28px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
    z-index: 5000;
    background: #fcfcfc;
    line-height: 37px;
}
.nav_trigger:hover {
    color: #fff;
    border: none;
    background: #09bcd4;
}
.active a {
    color: #09bcd4 !important;
}
/** End Header **/
/**banner css**/
.more {
    color: #fff;
    background: #03a103;
	border: 1px solid #03a103;
    padding: 12px 45px;
    margin-top: 10px !important;
    float: left;
	text-decoration:none;
}
.more:hover {
	color: #fff;
    background:transparent;
	border: 1px solid #2AFF00;
	text-decoration:none;
}
.position {
   padding-top:95px;
   padding-bottom: 50px;
}
/**about**/
#about h2{font-size:35px; font-weight:normal;}
#about p{ text-align:justify; line-height:27px; color:#999;font-weight:normal;}
#about img{width:100%;margin-top:95px;}

.about_head{ text-align:center;}
.about_head h1{font-size:35px; color:#000; text-transform:uppercase; font-weight:bold}
.about_head h1 span{color:#09bcd4}
.about_head p{ text-align:center !important; margin: 25px auto 20px auto}
/**Product**/
#products{ background: url("../images/product_bg.jpg") center;
background-attachment: fixed;
background-size: cover;}
#products h4{color:#fff; transition-duration: 1s;}
#products p{ color:#717171}
/**contact page**/
.Enqry input[type=text],.Enqry select[type=text],.Enqry input[type=email],.Enqry input[type=password],.Enqry input[type=file],.Enqry input[type=number] {width:100%;height:40px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;background:#f2f2f2;margin-bottom:15px;font-size:14px;color:#000;outline:none}
.Enqry input[type=text]:focus,.Enqry select[type=text]:focus,.Enqry input[type=email]:focus,.Enqry input[type=password]:focus,.Enqry input[type=file]:focus{background:#fff; border:1px solid #1d5693}
.Enqry textarea{max-width:100%;min-width:100%;max-height: 170px;min-height: 170px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;background:#f2f2f2;margin-bottom:15px;font-size:14px;color:#000;padding-top:10px;outline:none; resize:none}
.Enqry textarea:focus{background:#fff; border:1px solid #1d5693}
.refrsh{width:50px;height:50px;float:left;margin:0px 15px 0px 15px;transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.refrsh:hover{transform:rotate(360deg);transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.more1{width:130px;height:36px; border-radius:5px;background:;text-align:center;line-height:36px;float:right; margin-top:10px;text-decoration:none;color:#005c6d;padding:0;}
.more1{width:130px;height:36px; border-radius:6px;background:#fff;text-align:center;line-height:36px;text-transform:uppercase;float:right; margin-top:10px;text-decoration:none;color:#005c6d;padding:0; border:1px solid #005c6d;transition-duration:1s; border: 1px solid #ccc; outline:none}
.more1:hover{color:#fff;background:#09bcd4;border: 1px solid #005c6d; transition-duration:1s}
.more1:hover{ text-decoration:none;color:#000}
.cont_sbmt{width:140px !important}

/** Services **/

.service_head {
    text-align: center;
}

.service_head h1 {
    font-size: 35px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.service_head span {
    color: #09bcd4;
}

.service_body {
    padding: 30px 0px;
}

.service_box {
    padding: 25px 0px;
    display: inline-block;
	border: 1px solid #e0e0e0;
	border-right: 5px solid #e0e0e0;
	cursor:pointer;
}
.service_box p{
	font-size: 13px;
	color: #999;
	text-align: justify;
	line-height: 24px;
}
.service_box h4{
    font-size: 16px;
    font-weight: 600;
}
.servi_align {
    margin-top: 10px;
}

.Service_icon {
    border: 1px solid #999;
    width: 64px;
    border-right: 0;
    margin-left: -30px;
    background: #fff;
    padding: 20px 0px;
    text-align: center;
    font-size: 25px;
}

.Service_icon:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -8px;
    z-index: -1;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(20deg, 0deg);
}
.service_box:hover{
    border-right: 5px solid #09bcd4;
}
.service_box:hover .Service_icon {
    background: #09bcd4;
    color: #fff;
    border: none;
}
.service_box:hover .Service_icon:after {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    background: -webkit-gradient(left top, right top, color-stop(40%, rgba(255, 255, 255, 1)), color-stop(40%, rgba(9, 188, 212, 1)), color-stop(48%, rgba(9, 188, 212, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgba(9, 188, 212, 1) 40%, rgba(9, 188, 212, 1) 48%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#09bcd4', GradientType=1);
    border: none;
}

/** End Services **/
/** Home automation Part **/

.home_automation_part{
    position: relative;
   background: url('../images/hom_bg.jpg') center no-repeat;
       background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
}
.youtb i{    background: #ea180c;
    color: #fff !important;}
.home_automation_part h1{
    color: #fff;
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
}
.home_automation_part h4{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.home_automation_part p{
    color: #6b6b6b;
}
.home_automation_part span{
    background: #09bcd4;
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
.right_align{
    text-align: right;
}
.left_align{
    text-align: left;
}
.automation_padd{
    padding:0px 0px;
}

/** Home automation Part **/




/*Footer part CSS*/

footer {
	width: 100%;
	background: #272727;
}

.tab_2 {
	/*padding: 0px 30px;*/
	padding-top: 20px;
}

.bw img {
	max-width: 100%;
}

.bw {
	text-align: center;
	padding-left: 0 !important;
}

.col-bord {
	/*padding: 16px 0px;*/
}

.con_head {
font-size: 19px;
font-weight: normal;
color: #fff;
 text-transform:uppercase;
 margin-bottom: 20px !important;
}

.addrs {
	margin: 0 auto;
	padding-left: 0 !important;
	color: #898989;
	font-size: 14px;
	font-weight:normal;
}
.addrs img{ margin-right:10px}
.addrs span{ margin-left:38px}
ul {
	margin: 0;
	padding: 0;
}

/*Footer Navigation part CSS*/
.foot_nav_scnd{ margin-top:37px ;}
.foot_nav {
	color: #efefef;
}

.foot_nav > ul > li {
	list-style: none;
}

.foot_nav > ul > li > a {
	color: #898989;
	line-height: 28px;
}

.foot_nav > ul > li > a:hover {
	text-decoration: none;
	color: #FFF;
}
.footer_bottom{ background:#0c0c0c}
.foot-row {
	padding:10px 0px;
	
}

.foot_bar {
	line-height: 50px;
	color: #efefef;
	text-align: center;
}

.copy {
	/*float: left;*/
}

.powd {
	float: right;
}


.skdslider .slide-desc > h2 span{
     font-size: 37px;
}

.modal-body {
    position: relative;
    padding: 35px;
    line-height: 24px;
    text-align: justify;
    color: #898989;
}
.modal-body img{
    max-width: 100%;
    margin-bottom: 20px;
}
.modal-header{
    font-size: 24px;
    padding: 0px 35px;
}
.modal-title{
    font-size: 24px;
    color: #09bcd4;
    padding-top: 20px;
}
.modal-header .close{
    margin-top: 29px;
}



.slick-prev,
.slick-next{
    z-index: 998 !important;
}
.right_align .for_tab{
    display: none;
}
#about b{font-size: 18px; padding: 5px 0px;}
#about ul{color:#828080;padding-left: 25px;line-height: 30px;}
#about ul > li{list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAArlBMVEUAAAAAff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff8Aff+kSX8dAAAAOXRSTlMAAQIDBAcLDxQXGBweICkqLz0/Q0VGR0lMbW+AiI+SlJWXnZ6mqKqrrbW3udXX3N7i5Obo6+3v+/2/vRYjAAAAf0lEQVQIHQXBBQLCQADAsN4Gw93d3YbT/3+MBICkMxy0EwAgM1fVaQYge1NVvWaBk6qqHqGmqnqop1ZZ6Fd1G1F0zsVR6OsywNgzTwvQmgTCTJ/svSUAYaXu6ekjB9FOtUv80nc+Pqi+Yqiov4+qZYDyQ1XvJQCImps0XTci4A9QmBksXqWKIgAAAABJRU5ErkJggg==)}
#about i{
    padding-right: 20px;
}
.social{
    color: #000;
    position: fixed;
    top: 180px;
    right: 0;
    z-index: 9;
}
.social span{
    display: inline-block;
    width: 40px;
    height: 40px;
    display: list-item;
    list-style: none;
}
.social i{
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #000;
}
.fb i{
    background: #3a5a98;
    color: #fff;
}
.tw i{
    background: #55acee;
    color: #fff;
}
.inst i{
    color: #fff;
        background: #fd6961;
}
#products h4:hover{
    cursor: pointer;
    transform: scale(1.5, 1.5);
    transition-duration: 1s;
}


/**products details Page**/
.products_details h2{font-size: 25px !important;}
.products_details p span{font-weight:700;color:#504F4F;}
.products_details img{ margin-top:5px !important}
#about h5{text-align: center;color: #09bcd4;margin: 30px auto;font-size:35px; text-transform:uppercase; border-bottom:1px dashed #898989;border-top:1px dashed #898989;padding: 6px 10px 1px 10px; clear: both;}