    @media only screen and (max-width:767px) {
    .nav_trigger {
        display: block;
    }
    .main_nav {}
    .main_menu {
        display: none;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        padding-top: 0px;
    }
    .main_menu ul {
        margin-top: 19px;
        padding-left: 0;
        float: none;
    }
    .main_menu ul li {
        display: list-item;
        list-style: none;
        text-align: center;
        padding: 0px 0px;
    }
    .main_menu ul li:hover {}
    .main_menu ul li a {
        padding: 8px 0px;
        display: block;
    }
    .main_menu ul li a:hover {
        text-decoration: none;
        color: #09bcd4;
    }
    .Service_icon {
        margin: 0 auto;
        border-right: 1px solid #999;
    }
    .Service_icon:after {
        display: none;
    }
    .service_box {
        padding-top: 0;
        width: 100%;
        margin: 10px 0px;
    }
	.about_head p {
    text-align:justify !important;
	}
}

@media (max-width: 500px) {
    .slide-desc p {
        display: none !important
    }
    .skdslider {
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        margin-top: 88px;
        float: left;
    }
    .slide-navs {
        display: none
    }
    .more {
        padding: 4px 13px;
    }
	.skdslider .slide-desc > h2 span {
    font-size:14px !important;
}
}

@media screen and (min-width:768px) and (max-width:991px) {
    .container {
        width: 95%;
    }
    .main_menu {
        margin-top: 0;
        width: 100%;
        text-align: center;
    }
    .navbar-brand {
        width: 100%;
        padding: 0;
    }
    .logo {
        width: 100%;
        display: inline-block;
        margin-top: 15px;
    }
    .logo img {
        margin: 0 auto;
    }
    .position {
        padding-top: 115px;
    }
    .Service_icon:after {
        display: none;
    }
    .Service_icon {
        border-right: 1px solid #999;
    }
    .service_box {
        min-height: 245px;
    }
    .skdslider {
        margin-top: 142px;
        float: left;
        margin-bottom: 25px;
    }
    
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .Service_icon {
        width: 47px;
    }
}

@media only screen and (max-width:767px) {
    .position {
        padding-bottom: 0;
    }
    .home_automation_part {
        padding-top: 10px;
    }
    .home_automation_part h1,
    .home_automation_part h4 {
        text-align: center;
    }
    .home_automation_part p {
        text-align: center
    }
    .home_automation_part span {
        margin: 0 auto;
        display: block;
    }
    .right_align {
        width: 55%;
        float: left;
    }
    .left_align {
        width: 55%;
        float: left;
    }
    .right_align .for_pc {
        display: none;
    }
    .right_align .for_tab {
        display: block;
    }
    .auto_img {
        display: none;
    }
    .service_box h4 {
        text-align: center;
    }
    .service_box p {
        text-align: center;
    }
    .con_head {
        text-align: center;
    }
    .tab_2 {
        text-align: center;
    }
    .foot_nav_scnd {
        margin-top: 0;
    }
    .margin_remov {
        padding: 0;
    }
    .automation_padd {
        padding: 0;
    }
    .skdslider {
        margin-top: 90px;
        float: left;
        margin-bottom: 25px;
    }
    .foot_bar{
        line-height: normal;
    }
    #about img{
        margin-top: 0;
    }
}


@media only screen and (max-device-width:400px) {
    header {
        height: 70px;
    }
    .logo {
        width: 80%;
    }
    .main_menu {
        background: #fff;
    }
    .skdslider {
        margin-top: 70px;
        float: left;
        margin-bottom: 25px;
    }
}
    
@media only screen and (max-device-width:480px) {
        .right_align {
            width: 100%;
            float: none;
        }
        .left_align {
            width: 100%;
            float: none;
        }
        .home_automation_part {
            background-size: cover;
        }
    }